1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [18]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(6, 4)), columns=list('ABCD'))
df.set_index('A', drop=False)
df

    A   B   C   D
0  16  75   0   4
1  16  24   5  62
2  27  42   9  92
3  95   7  31   8
4  70  32  44  33
5  52  80   3  36

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [21]:
df = pd.DataFrame(np.random.randint(0,100,size=(3, 3)), columns=list('ABC'))
df.rename(index={0: 'X', 1: 'Y', 2: 'Z'}, inplace=True)
df

    A   B   C
X  15   8  70
Y  68   4  40
Z  49  45  14

In [26]:
df['B']['Y']

4

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [32]:
data = pd.DataFrame(np.random.randint(0,100,size=(5, 3)), columns=list('ABC'))
data

    A   B   C
0  18  89  57
1  54   9  72
2  18  11  33
3   2  74  21
4  48  55  73

In [33]:
data = data.mask(np.random.choice([True, False], size=df.shape, p=[.20,.80]))
data

ValueError: Array conditional must be same shape as self